* {
    font-family: 'Roboto', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif'
}

button, .card, .btn, #chat li, .modal-dialog, .modal-content, .modal-header, .modal.body, .modal-footer {
    border-radius: 2px!important;
}

.btn-primary {
    background-color: rgb(63, 81, 181);
}

a {
    color: rgb(63, 81, 181);
}

.maxw {
    width: 100%;
    text-align: left;
}

#box-pic {
    height: 35px;
    width: 35px;
}

#chat-container {
    position: absolute;
    height: calc(100vh - 190px); /* take banner + padding into account */
}

#right-container, #left-container {
    height: calc(100vh - 190px);
    width: 100vw; 
}

.btn-danger.fa-times {
    max-height: 40px;
    max-width: 40px;
    margin-bottom: 10px;
}

/** smol **/
@media only screen and (max-width: 768px) {
    #chat-container {
        width: 95%;
        margin-left: 2.5%;
        margin-right: 2.5%;
    }

    #middle-container {
        margin-left: 15px;
    }
}

/** big **/
@media only screen and (min-width: 768px) {
    #chat-container {
        width: 92%;
        margin-left: 4%;
        margin-right: 4%;
    }

    #middle-container {
        margin-left: 0px;
    }
}

.main-wrapper {
    height: calc(100vh - 240px);
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.card {
    margin-bottom: 30px;
}

.middle-cards {
    height: calc(100vh - 240px);
    overflow-y: auto;
    overflow-x: hidden;
}

.card-header {
    display: flex;
    justify-content: flex-end;
}

.delete-card-icon {
    max-width: 25%;
}

.drawer {
    max-width: 90%;
    margin: auto;
}

#main-row {
    max-height: 100%;
}

#chat {
    padding: 5px;
    list-style-type: none;
    height: 100%;
    overflow-y: auto;
    position: relative;
}

#chat li {
    background-color: #eafcfc;
    padding: 10px;
    margin: 10px 0;
}

#chat li:nth-child(even) {
    background-color: #f0e5ff;
}

#username {
    padding: 10px;
    font-family: 'Ubuntu Mono';
}

.time {
    font-size: 80%;
    color: gray;
}

#msg-form { 
    padding: 3px; 
    width: 100%; 
    height: 100%;
}
#msg-form textarea { 
    width: 85%; 
    padding: 5px;
    margin-right: 2%;
}
#msg-form button { 
    width: 13%;
    padding: 5px;
    border: none;
    background-color: #dbdbe0;
    color: rgb(108, 117, 125);
    display:inline-block;
    vertical-align: top;
}

#msg-form button:hover { 
    width: 13%;
    padding: 5px;
    border: none;
    background-color: #d2d2d8;
    color: rgb(108, 117, 125);
    display:inline-block;
    vertical-align: top;
}

.fa-paper-plane {
    width: 20px;
    height: 20px;
    color: rgb(88, 138, 231);
}

#banner {
    overflow: hidden;
    background-color: #aab5c4;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    visibility: hidden;
    margin-left: 15px;
}

.btn-secondary {
    background-color: #aab5c4;
    border-color: #aaa6b2
}

#right-container, #left-container {
    margin-top: 3.5em;
}

#middle-container {
    margin-top: 5em;
}

.container-fluid {
    padding-left: 0px;
}


/* Scrollbar things*/
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background-color:#dbdbe0;
}   
::-webkit-scrollbar-thumb {
    background-color:#babac0;
    border:4px solid #babac0;
}
::-webkit-scrollbar-button {
    display: none;
}

.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 9999!important;
    width: 150px;
    height: 150px;
    margin-top: 120px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 80px;
    height: 80px;
    margin-left: -40px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  .center-card {
      margin: auto;
      margin-top: 1rem;
      margin-bottom: 1rem;
  }

  .btn-info {
    background-color: rgb(63, 81, 181)
  }