@media only screen and (max-width: 720px) {
    #right-container {
        display: none;
    }

    #left-container {
        display: none;
    }
    #bar-menu {
        padding: 20px;
        display: block;
    }

    #chat-btn{
        display: block;
        padding: 30px;
        position: fixed;
        bottom:0;
        right: 0;
    }
}

@media only screen and (min-width: 720px) {
    #right-container {
        display: block;
    }

    #left-container {
        display: block;
    }

    #bar-menu, #chat-btn {
        display: none;
    }
}

