#chat-container {
    background-color: lightblue;
    height: 100%;
}

#chat {
    padding: 5px;
    list-style-type: none;
}

#chat li {
    background-color: aqua;
}

#username {
    padding: 10px;
}